/*

Non-html shared stylings

*/

.panel-section {
	padding: 0 20px;

	@include breakpoint($bp-portrait) {
		padding: 0 30px;
	}
}

.compartment {
	@include compartment;
	position: relative;
	padding: 60px 0;

	@include breakpoint($bp-portrait) {
		padding: 80px 0;
	}

	.panel-section.panel-slim & {
		max-width: 650px; 
		text-align: center;
	}
}

.panel-introduction {
	background: $sterling-purple;
	color: $color-white;

	.introduction-tagline {
		font-size: 16px;	
		line-height: 24px;
		width: 100%;
		max-width: 650px;

		@include breakpoint($bp-portrait) {
			font-size: 20px;	
			line-height: 28px;		
		}

		ul {
			@include list-reset;
		}
	}
}

.panel-white {
	background: $color-white;

	h2.panel-title {
		color: $sterling-charcoal;

		&:after {
			background: $sterling-charcoal;
		}
	}

	.values-text {
		text-align: center;
		margin-bottom: 60px;
	}

	.content-button {  
		border: 3px solid $sterling-purple;
		color: $sterling-purple;

		&:hover {
			color: $color-white;
			background: $sterling-purple;
		}
	}
}

.panel-teal {  
	background: $sterling-teal;
	color: $color-white;
	padding: 0 20px;

	.compartment {
		text-align: center;
	}

	.spotlight-text {
		font-weight: 300; 
		max-width: 800px;
		margin: 0 auto;
		display: block;
	}
}

.panel-image {
	display: inline-block;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $color-white; 

	&:before {
		content: '';
		display: inline-block;
		width: 100%;	
		padding-top: 466 / 1026 * 100%;
	}
}

h2.panel-title {
	display: inline-block;
	width: 100%;
	position: relative;
	padding-bottom: 25px;
	color: $color-white;
	text-align: center;
	margin-bottom: 60px;

	&:after {
		display: inline-block;
		width: 52px;
		height: 4px;
		background: $color-white;
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.content-button {
	display: inline-block;
	border: 3px solid $color-white;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 600;
	color: $color-white;
	border-radius: 100px;
	transition: .3s all;
	transform-origin: center center;

	&:hover {
		color: $sterling-charcoal;
		background: $color-white;
		transform: scale(1.035);
	}
}

.post-meta {
	@include list-reset;
}

.six-listing {
	
	.tile {
		margin-bottom: 40px;
		display: flex;
		width: 100%;
		text-align: left;
		flex-flow: row no-wrap;
		align-items: flex-start;
		font-size: 16px;
		line-height: 24px;

		@include breakpoint($bp-portrait) {
			align-items: center;
			margin-bottom: 80px;
			font-size: 20px;
			line-height: 28px;
		}

		.icon-space {
			width: 70px;
			height: 70px;
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			flex: 70px 0 0;
			margin-right: 20px;

			@include breakpoint($bp-portrait) {
				margin-right: 40px;
			}

			@include breakpoint($bp-landscape) {
				margin-right: 60px;	
				flex: 70px 0 0;
			}

			@include breakpoint($bp-desktop) {
				margin-right: 80px;				
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.lightbox-assets {
	pointer-events: none;
	opacity: 0;
	transition: .3s all;

	.lightbox-active & {
		opacity: 1;
		pointer-events: auto;
	}

	.lightbox-close, .lightbox-arrow {
		position: fixed;
		display: inline-block;
		z-index: 5;
		cursor: pointer; 
		transition: .3s all;

		.icon-space {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		} 
	}

	.lightbox-close {
		width: 20px;
		height: 20px;
		top: 30px;
		right: 30px;

		.icon-space {
			width: 100%;
			height: 100%;
		} 
	}

	.lightbox-arrow {
		padding: 15px; 
		width: 54px;
		height: 54px; 
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint($bp-portrait) {
			width: 84px;
			height: 84px;
			padding: 30px;		
		}

		&:hover {
			opacity: .75;
		}

		.icon-space {
			width: 24px;
			height: 24px;
		} 

		&.disabled {
			display: none;
		}

		&.lightbox-prev {
			left: 0px;
		}

		&.lightbox-next {
			right: 0px;
		}
	}
}

.lightbox {
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba($color-white, .95);    
	padding: 40px 54px;
	display: inline-block;
	width: 100%;  
	pointer-events: none;
	transition: .3s all;
	z-index: 4;  
	height: 100%;  
	overflow: scroll;
	transform: scale(.75);

	@include breakpoint($bp-portrait) {
		padding: 80px 84px;		
	}

	.lightbox-active & {
		opacity: 1;
		pointer-events: auto;
		transform: scale(1);
	}

	.compartment {
		transition: .3s all;
		padding: 0;

		&.inactive {
			opacity: 0;
		}
	}
}

.modal-content {
	font-size: 20px;
	line-height: 30px;

	header {
		text-align: center;
		margin-bottom: 40px;
	}

	img {
		width: 100%;
		margin-bottom: 30px;
		height: auto;
	}

	h2.panel-title {
		margin-bottom: 20px;
	}

	.post-tag {
		font-size: 18px;

		.post-meta-key {
			display: none;
		}
	}
}  

@each $desc, $icon in $icon-image {  

	.icon-#{$desc} {

		.icon-space {
			background-image: #{$icon}; 
		}
	}
}