

.panel-section {
	padding: 0 20px;

	@include breakpoint($bp-portrait) {
		padding: 0 30px;
	}
}

.compartment {
	@include compartment;
	position: relative;
	padding: 60px 0;

	@include breakpoint($bp-portrait) {
		padding: 80px 0;
	}

	.panel-section.panel-slim & {
		max-width: 650px; 
		text-align: center;
	}
}

.panel-introduction {
	background: $sterling-purple;
	color: $color-white;

	.introduction-tagline {
		font-size: 16px;	
		line-height: 24px;
		width: 100%;
		max-width: 650px;

		@include breakpoint($bp-portrait) {
			font-size: 20px;	
			line-height: 28px;		
		}
	}
}

.panel-white {
	background: $color-white;

	h2.panel-title {
		color: $sterling-charcoal;

		&:after {
			background: $sterling-charcoal;
		}
	}

	.values-text {
		text-align: center;
		margin-bottom: 60px;
	}
}

.panel-teal {  
	background: $sterling-teal;
	color: $color-white;
	padding: 0 20px;

	.compartment {
		text-align: center;
	}

	.spotlight-text {
		font-weight: 300; 
		max-width: 800px;
		margin: 0 auto;
		display: block;
	}
}

.panel-image {
	display: inline-block;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $color-white; 

	&:before {
		content: '';
		display: inline-block;
		width: 100%;	
		padding-top: 466 / 1026 * 100%;
	}
}

h2.panel-title {
	display: inline-block;
	width: 100%;
	position: relative;
	padding-bottom: 30px;
	color: $color-white;
	text-align: center;
	margin-bottom: 60px;

	&:after {
		display: inline-block;
		width: 52px;
		height: 4px;
		background: $color-white;
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.content-button {
	display: inline-block;
	border: 3px solid $color-white;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 600;
	color: $color-white;
	border-radius: 100px;
	transition: .3s all;
	transform-origin: center center;

	&:hover {
		color: $sterling-charcoal;
		background: $color-white;
		transform: scale(1.035);
	}
}

.slider-section {
	padding: 0 20px;
	background: $color-white;

	.compartment {
		padding: 80px 0;
		max-width: 800px;
	}
}

.slider-citation-container {
	width: 600px;
	margin: 0 auto 20px;
	position: relative;
	padding: 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.slick-arrow {
		line-height: 40px;
		width: 40px;
		display: inline-block !important;
		text-align: center;
		flex: 0 0 40px;

		&:before {
			content: '#';
			display: block;
		}

		&.slick-prev {
			right: 0; 

		}

		&.slick-next {
			left: 0;
		}
	}

	.slick-slide {
		text-align: center; 
		padding: 0 20px;
		text-align: center;

		p {
			margin: 0;
		}

		img {
			display: inline-block;
			height: 75px;
			border: 3px solid red;
			width: auto;
			position: absolute;
			top: left;
			left: 0;
			border-radius: 100%;
		}

		.slide-citation-inner {
			padding-left: 95px;
			min-height: 75px;
			display: inline-block;
			width: auto;
			position: relative;
			margin: 0 auto;
			text-align: left;
		}
	}

	.slide-citation {
		display: inline-block;  
		width: 300px;   
	}
}

.slider-text-container {
	min-height: 150px;
	position: relative;

	.slick-list {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.slick-slide {
		text-align: center;

		p:last-child {
		margin-bottom: 0;
		}
	}

	&:before {
		content: '#';
		display: inline-block;
		font-size: 200px;
		color: blue;
		opacity: .15;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		line-height: 150px;
	}
}

.six-listing {
	
	.tile {
		margin-bottom: 40px;
		display: flex;
		width: 100%;
		text-align: left;
		flex-flow: row no-wrap;
		align-items: flex-start;
		font-size: 16px;
		line-height: 24px;

		@include breakpoint($bp-portrait) {
			align-items: center;
			margin-bottom: 80px;
			font-size: 20px;
			line-height: 28px;
		}

		.icon-space {
			width: 70px;
			height: 70px;
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			flex: 70px 0 0;
			margin-right: 20px;

			@include breakpoint($bp-portrait) {
				margin-right: 40px;
			}

			@include breakpoint($bp-landscape) {
				margin-right: 60px;	
				flex: 70px 0 0;
			}

			@include breakpoint($bp-desktop) {
				margin-right: 80px;				
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.three-listing {
	display: flex;

	.tile {
		padding: 0 30px;
		text-align: left;
	}
}

.lightbox {
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba($color-white, .95);    
	padding: 40px 54px;
	display: inline-block;
	width: 100%;  
	pointer-events: none;
	transition: .3s all;
	z-index: 2;  
	height: 100%;  
	overflow: scroll;
	transform: scale(.75);

	@include breakpoint($bp-portrait) {
		padding: 60px 84px;		
	}

	.compartment {
		transition: .3s all;
		padding: 0;

		&.inactive {
			opacity: 0;
		}
	}

	.lightbox-close {
		display: inline-block;
		width: 20px;
		height: 20px;
		position: fixed;
		top: 30px;
		right: 30px;
		cursor: pointer; 

		.icon-space {
			display: inline-block;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		} 
	}

	.lightbox-arrow {
		padding: 15px; 
		width: 54px;
		height: 54px; 
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		z-index: 2;
		cursor: pointer; 
		transition: .3s all;

		@include breakpoint($bp-portrait) {
			width: 84px;
			height: 84px;
			padding: 30px;		
		}

		&:hover {
			opacity: .75;
		}

		.icon-space {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		} 

		&.disabled {
			display: none;
		}

		&.lightbox-prev {
			left: 0px;
		}

		&.lightbox-next {
			right: 0px;
		}
	}
}

.modal-content {

	header {
		text-align: center;
		margin-bottom: 40px;

		@include breakpoint($bp-portrait) {
			margin-bottom: 60px;	
		}
	}

	img {
		width: 100%;
		margin-bottom: 30px;
		height: auto;
	}

	h2.panel-title {
		color: $sterling-charcoal;
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:after {
			background: $sterling-charcoal;
		}
	}

	.profile-tag {
		font-size: 18px;
	}
}  

@each $desc, $icon in $icon-image {  

	.icon-#{$desc} {

		.icon-space {
			background-image: #{$icon}; 
		}
	}
}

























