html {
	background: $sterling-purple;
}

body {
	background: $sterling-purple;;
	font-family: $sans-serif;
	color: $sterling-charcoal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	line-height: 24px;
}

h1 {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 20px;
	font-family: $serif;
	font-weight: bold;

	@include breakpoint($bp-portrait) {
		font-size: 65px;
		line-height: 85px;
	}
}

h2 {
	font-family: $serif;
	font-size: 35px;
	line-height: 43px;
	font-weight: bold;
	margin-bottom: 30px;
}

h3 {
	font-size: 22px;	
	font-weight: 700;
	margin-bottom: 18px;
	line-height: 30px;
}

h4 {
	font-weight: bold;
	margin-bottom: 10px;
}

pre {
	color: #898989;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	white-space: normal;

}

a {
	text-decoration: none;
}

p {
	margin-bottom: 40px;

	&:last-child {
	margin-bottom: 0;  
	}
}

ul {
	list-style-type: disc;
	padding-left: 30px;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;  
	}

	li {
		margin-bottom: 5px;
	}
}