/*

SCSS Mixins

*/

@mixin breakpoint($point) {
    @media (min-width: $point) { @content; }
}

@mixin compartment() {
	display: block;
    width: 100%;
    max-width: $site-boundry;
    margin: 0 auto;     
}

@mixin list-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}